@import '~theme/_variables';
@import '~theme/_mixins';
@import '~theme/_media';

.card {
  @include surface;

  a {
    width: 100%;
  }

  .card-image {
    @include flex-container(row, flex-start, center);

    position: relative;
    border-radius: $border-radius-m;
    width: 100%;
    height: 300px;
    padding: $space-s;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-white;
      border-radius: $border-radius-m;
      z-index: 4;
    }

    img {
      position: relative;
      object-fit: cover;
      border-radius: $border-radius-m;
      z-index: 5;
    }

    .card-image__placeholder {
      background: $color-background;
      transition: $transition;
    }
  }

  .card-content {
    @include flex-container(column);

    padding: $space-m;
    padding-block-start: $space-l;
    gap: $space-l;

    .card-content-title {
      @include flex-container(row, space-between);

      width: 100%;
    }

    .card-content-tag {
      color: $color-tag;
    }

    h4 {
      @include flex-container(row, flex-start, center);

      font-size: $font-size-m;
    }

    p {
      font-size: $font-size-s;
      line-height: 1.2;
      flex-grow: 1;
    }
  }

  .button {
    width: 100%;
    border-radius: 0 0 $border-radius-l $border-radius-l;
  }
}

@include respond-to('tablet') {
  .card-imager {
    height: 200px;
  }

  .card-content {
    h4 {
      font-size: smaller;
    }

    p, h3 {
      font-size: smaller;
    }
  }
}
